.cards {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 35px;
}

.card {
  width: 200px;
  border: 1px solid rgb(230,230,230);
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
}

.cards img {
  height: 100px;
}

.card p {
  color: gray;
}
